@import "~bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}
.light {
  height: 80px;
  width: 80px;
  bottom: 3px;
  margin-bottom: 0.5rem;
}
.light.red.selected {
  box-shadow: 0 0 20px 5px red;
}
.light.yellow.selected {
  box-shadow: 0 0 20px 5px yellow;
}
.light.green.selected {
  box-shadow: 0 0 20px 5px green;
}
.bottomPole {
    width: 30px;
    height: 90px;
}